@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");

@media (min-width:481px) {

body {
  background: linear-gradient(236.85deg, #6A359C 27.26%, #B589D6 96.03%);
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

body.dark {
  background: linear-gradient(236.85deg, #552586 27.26%, #804FB3 96.03%);
}

body.dark .container {
  background: #1C1C1C;
  color: #ECF4FF;
}

body.dark .container p {
  color: #1C1C1C;
}

body.dark .container .redes a {
  color: #ECF4FF;
}

body.dark .tema {
  border: 1px solid #ECF4FF;
}

body.dark .tema span {
  border: 2px solid #ECF4FF;
  margin-left: 1.4em;
}

.container {
  background: #ECF4FF;
  margin: 2.5em;
  padding: 2em;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 6px #0C0C0C;
          box-shadow: 6px 6px 6px #0C0C0C;
  color: #1C1C1C;
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infos .dados {
  margin-left: 1.5em;
}

.infos .dados h1 {
  font-weight: 700;
  font-size: 36px;
}

.infos .dados h3 {
  font-weight: 400;
  font-size: 24px;
}

.infos img {
  border-radius: 50%;
  max-height: 160px;
  -webkit-box-shadow: 0px 4px 4px #0C0C0C;
          box-shadow: 0px 4px 4px #0C0C0C;
}

.infos .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infos .redes a {
  text-decoration: none;
  color: #1C1C1C;
  cursor: pointer;
  font-size: 20px;
}

.infos .redes a i {
  margin-right: 0.2em;
}

.infos #code {
  color: #F4730B;
  font-size: 30px;
  vertical-align: middle;
  margin-left: 0.2em;
}

.tema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 5px;
  height: 38px;
  width: 75px;
  border: 1px solid #1C1C1C;
  border-radius: 26px;
  cursor: pointer;
}

.tema span {
  font-size: 30px;
  border: 2px solid #1C1C1C;
  -webkit-box-shadow: 2px 2px 4px #1C1C1C;
          box-shadow: 2px 2px 4px #1C1C1C;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.projetos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(230.65deg, #9969C7 27.49%, #B589D6 83.19%);
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 4px rgba 16, 16, 16, 0.42;
          box-shadow: 2px 2px 4px rgba 16, 16, 16, 0.42;
}

.projetos span {
  font-size: 32px;
  font-weight: 700;
  color: #1C1C1C;
}

.projetos summary {
  list-style: none;
  cursor: pointer;
}

.projetos summary .drop {
  visibility: hidden;
}

.projetos summary span {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 0.5em;
  font-size: 22px;
  font-weight: 500;
}

.projetos .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.projetos a {
  text-decoration: none;
  color: #1C1C1C;
}

.projetos a .link {
  font-size: 18px;
}

.projetos summary:hover .drop {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */

}

@media (max-width:480px){
  body {
    background: linear-gradient(236.85deg, #6A359C 27.26%, #B589D6 96.03%);
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  
  body.dark {
    background: linear-gradient(236.85deg, #552586 27.26%, #804FB3 96.03%);
  }
  
  body.dark .container {
    background: #1C1C1C;
    color: #ECF4FF;
  }
  
  body.dark .container p {
    color: #1C1C1C;
  }
  
  body.dark .container .redes a {
    color: #ECF4FF;
  }
  
  body.dark .tema {
    border: 1px solid #ECF4FF;
  }
  
  body.dark .tema span {
    border: 2px solid #ECF4FF;
  }
  
  .container {
    background: #ECF4FF;
    margin: 1.5em;
    padding: 1em;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 6px #0C0C0C;
            box-shadow: 6px 6px 6px #0C0C0C;
    color: #1C1C1C;
  }
  
  .perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .infos .dados {
    margin-left: .5em;
  }
  
  .infos .dados h1 {
    font-weight: 700;
    font-size: 26px;
    margin-top:1.8em;
  }
  
  .infos .dados h3 {
    font-weight: 400;
    font-size: 24px;
  }
  
  .infos img {
    border-radius: 50%;
    max-height: 160px;
    -webkit-box-shadow: 0px 4px 4px #0C0C0C;
            box-shadow: 0px 4px 4px #0C0C0C;
  }
  
  .infos .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .infos .redes a {
    text-decoration: none;
    color: #1C1C1C;
    cursor: pointer;
    font-size: 16px;
  }
  
  .infos .redes a i {
    margin-right: 0.2em;
  }
  
  .infos #code {
    color: #F4730B;
    font-size: 30px;
    vertical-align: middle;
    margin-left: 0.2em;
  }
  
  .tema {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 5px;
    height: 38px;
    width: 75px;
    border: 1px solid #1C1C1C;
    border-radius: 26px;
    cursor: pointer;
  }
  
  .tema span {
    font-size: 28px;
    border: 2px solid #1C1C1C;
    -webkit-box-shadow: 2px 2px 4px #1C1C1C;
            box-shadow: 2px 2px 4px #1C1C1C;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .projetos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            align-items:center;
            justify-content:center;
    background: linear-gradient(230.65deg, #9969C7 27.49%, #B589D6 83.19%);
    margin-top: 1.5em;
    padding: .5em;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 4px rgba 16, 16, 16, 0.42;
            box-shadow: 2px 2px 4px rgba 16, 16, 16, 0.42;
  }
  
  .projetos span {
    font-size: 26px;
    font-weight: 700;
    color: #1C1C1C;
  }
  
  .projetos summary {
    list-style: none;
    cursor: pointer;
  }
  
  .projetos summary .drop {
    visibility: hidden;
  }
  
  .projetos summary span {
    font-size: 26px;
    vertical-align: middle;
    margin-right: 0.5em;
    font-size: 22px;
    font-weight: 500;
  }
  
  .projetos .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1em;
    height:170px;
  }
  
  .projetos a {
    text-decoration: none;
    color: #1C1C1C;
  }
  
  .projetos a .link {
    font-size: 18px;
  }
  
  .projetos summary:focus .drop {
    visibility: visible;
  }
}