@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 1.5rem;
}

body {
  background: #1c1c1c;
  color: #e0ecff;
  font-family: "Poppins", sans-serif;
}

.container-main {
  min-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.2rem solid #6c63ff;
  border-radius: 0.8rem;
  padding: 1.5rem 1.5rem 5rem 1.5rem;
}

.container-main .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 6rem;
  width: 100vw;
  margin-bottom: 2rem;
}

.container-main .infos img {
  width: 28rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.container-main .infos .dados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.container-main .infos .dados h1 {
  font-size: 2.4rem;
}

.container-main .infos .dados h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.container-main .infos .dados .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.7rem;
}

.container-main .infos .dados .redes a {
  color: #6c63ff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.container-main .infos .dados .redes a:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.container-main .infos .dados .redes i {
  margin-right: 0.3rem;
}

.container-main .projetos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  font-weight: 400;
}

.container-main .projetos > span {
  font-size: 2rem;
  font-weight: 500;
}

.container-main .projetos ul {
  list-style: none;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
}

.container-main .projetos li {
  min-width: 32.5rem;
  width: 40%;
  height: 5.25rem;
  border: 0.1rem solid #6c63ff;
  border-radius: 0.8rem;
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.container-main .projetos li:hover {
  background: #2c2c2c;
}

.container-main .projetos li .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.container-main .projetos li .container-header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-main .projetos li .container-header .header-wrapper img {
  width: 2.5rem;
}

.container-main .projetos li .container-header i {
  font-size: 2rem;
}

.container-main .projetos li .container-header .image-container img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 2.8rem;
}

.container-main .projetos li .container-header .sumario {
  margin: 0 0.5rem;
}

.container-main .projetos li .content {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-main .projetos li .content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #e0ecff;
  gap: 1rem;
}

.container-main .projetos li .content a span {
  font-size: 1.6rem;
  font-weight: 400;
}

.container-main .projetos li .content a:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.container-main .projetos li .content .dual-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.container-main .projetos li .content .codepen-wrapper {
  margin: 2rem 0;
}

.container-main .projetos li .content img {
  display: none;
  width: 100%;
  margin: 2rem 0;
}

.container-main .projetos li.active {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  cursor: default;
}

.container-main .projetos li.active .container-header img {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.container-main .projetos li.active .content {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  visibility: visible;
  opacity: 1;
}

.container-main .projetos li.active .content .codepen-wrapper {
  margin: 2rem 0;
}

.container-main .projetos li.active .content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-main .projetos li.active:hover {
  background: #1c1c1c;
}

@media screen and (max-width: 740px) {
  .infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
/*# sourceMappingURL=style.css.map */